@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  font-family: 'Outfit', sans-serif;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE dan Edge */
}

.table-container {
  max-height: calc(100vh - 380px);
  overflow-y: auto;
}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}